<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.food_app">
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:label="Food App" android:icon="@mipmap/ic_launcher">
        <activity android:name="android.app.Activity" />
    </application>
</manifest>
